name: "test"
on: # rebuild any PRs and main branch changes
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  build: # make sure build/ci work properly
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v4.0.0
        with:
          version: latest
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.4.1
        with:
          node-version: 16.x
      - run: pnpm i
      - run: pnpm clean
      - run: pnpm build
      - run: pnpm dlx @plasmohq/mystic-box test-zip 0.0.8
      - uses: PlasmoHQ/soft-secret@v1
        with:
          secret: ${{ secrets.TEST_KEY }}
          target: "key.json"
      - run: pnpm test
